[submodule "engines/erp_core"]
	path = engines/erp_core
	url = git@github.com:carlosRPDev/erp_core.git
[submodule "engines/erp_users"]
	path = engines/erp_users
	url = git@github.com:carlosRPDev/erp_users.git
[submodule "engines/erp_workers"]
	path = engines/erp_workers
	url = git@github.com:carlosRPDev/erp_workers.git
